:root {
    --crimson: #e3183f;
    --white: #ffffff;
    --dark: #2b2e42;

    --r1-bg: #8d9aad;
    --r2-bg: #00bf63;
    --r3-bg: #8c52ff;
    --r4-bg: linear-gradient(to right, #ffde59, #ff914d);

    --radial-bg: radial-gradient(var(--crimson), var(--dark) 80%    );
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*    .crimson_button    */
.crimson_button {
    background-color: var(--crimson);
    color: var(--white);
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;

    transition-duration: .3s;
}
.crimson_button:hover {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    padding: 19px;
    transition-duration: .3s;
}

/*    .card    */
.card {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--dark);
}

.card img{
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    border-radius: 15px;
}

.card p{
    color: var(--white);
    border-top: 1px solid var(--white);
    margin-top: 0px;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
}

/*    card rarity    */
.r1 {background: var(--r1-bg);}
.r2 {background: var(--r2-bg);}
.r3 {background: var(--r3-bg);}
.r4{background: var(--r4-bg);}

/* ----------- ! HEADER ! ----------- */
/*    #site_header    */
#site_header{
    background-color: var(--dark);
    display: inline-block;
    height: 70px;
    width: 100vw;
}

/*    #site_logo    */
#site_logo{
    color: var(--crimson);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 5px; top: 10px;
}

/*    #navbar_buttons   */
#navbar_buttons{
    display: inline-block;
    position: absolute;
    right: 10px; top: 25px;
}
/*    #navbar_buttons>a  */
#navbar_buttons>a{
    margin-left: 10px;
}

/* ----------- ! FOOTER ! ----------- */
#site_footer{
    background-color: var(--dark);
    display: inline-block;
    position: absolute;
	bottom: 0; right: 0; left: 0;
    height: 50px;
    margin-top:10px;
    color: var(--white);
}

#site_logout{
    color: var(--crimson);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    right: 5px; bottom: 5px;
}

#site_footer>div{
    position: absolute;
    top:15px; left: 5px;
}






/*    .radial_bg    */
.radial_bg {
    background: var(--radial-bg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

/*    #formLogin    */
#formLogin {
    background-color: var(--dark);
    position: absolute;
}