:root {
    --crimson: #e3183f;
    --white: #ffffff;
    --black: #000000;
    --dark: #2b2e42;
    --dgray: #8d9aad;
    --lgray: #d9d9d9;

    --r1-bg: #8d9aad;
    --r2-bg: #00bf63;
    --r3-bg: #8c52ff;
    --r4-bg: linear-gradient(to right, #ffde59, #ff914d);

    --booster-bg: linear-gradient(135deg, var(--crimson) ,var(--dark));

    --radial-bg: radial-gradient(var(--crimson), var(--dark) 80%    );

    --bg-t1: var(--r4-bg);
    --bg-t2: linear-gradient(to right, #ffffff, #241f1c);
    --bg-t3: linear-gradient(to right, #bd6218, #ff7017);
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/*    .crimson_button    */
.crimson_button {
    background-color: var(--crimson);
    color: var(--white);
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;

    transition-duration: .3s;
}
.crimson_button:hover {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    padding: 19px;
    transition-duration: .3s;
}

/*    .card    */
.card {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--dark);
}

.card img{
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    border-radius: 15px;
}

.card p{
    color: var(--white);
    border-top: 1px solid var(--white);
    margin-top: 0px;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
}

/*    card rarity    */
.r1 {background: var(--r1-bg);}
.r2 {background: var(--r2-bg);}
.r3 {background: var(--r3-bg);}
.r4{background: var(--r4-bg);}

.random{background-color:  var(--dark);}

.booster{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
    background: var(--booster-bg);
    display: inline-block;
    margin: 10px;
}

.booster p{
    color: var(--white);
    border-top: 1px solid var(--white);
    margin-top: 0px;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
}

.booster span{
    color: var(--white);
    font-size: 25px;
    margin: 10px 10px 0 10px;
    padding-bottom: 50px;
    border-radius: 15px;
    line-height: 300px;
}

.boosterContent{
    color: var(--white);
    text-align: center;
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 15px;
    line-height: 180px;
    margin-left: 15px;
}


/* ----------- ! HEADER ! ----------- */
/*    #site_header    */
#site_header{
    background-color: var(--dark);
    display: inline-block;
    height: 75px;
    width: 100vw;
    z-index: 2;
}

/*    #site_logo    */
#site_logo {
    color: var(--crimson);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 10px; 
    top: 10px;
}

/*    #navbar_buttons   */
#navbar_buttons{
    display: inline-block;
    position: absolute;
    right: 10px; top: 25px;
    color: var(--white);
}
/*    #navbar_buttons>a  */
#navbar_buttons>a{
    margin-left: 10px;
}

/* ----------- ! FOOTER ! ----------- */
/*    #site_footer  */
#site_footer{
    background-color: var(--dark);
    display: inline-block;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    color: var(--white);
    z-index: 2;
}
/*    #site_logout  */
#site_logout{
    color: var(--crimson);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left: 85%; top:50%;
}

/* ----------- ! LOGIN / REGISTER ! ----------- */
/*    .radial_bg    */
.radial_bg {
    background: var(--radial-bg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: -1;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/*    #formLogin    */
#formLogin {
    background-color: var(--dark);
    width: 40vw;
    height: 50vh;
    display: inline-block;
    color: var(--white);
    text-align: center;
    border-radius: 25px;
    position: relative;
}
#formLogin h1 {
    border-bottom: 2px solid var(--dgray);
    margin: 0;
    padding: 20px;
}

#formLogin input[type=text], #formLogin input[type=password] {
    background-color: var(--lgray);
    color: var(--black);
    width: 30vw;
    height: 7vh;
    font-size: x-large;
    margin: 30px 0 -10px 0;
    border: none;
    border-radius: 15px;
    padding-left: 5px;
}

#formLogin input[type=checkbox] {
    margin: 40px 0 0 0;
}

#formLogin label {
    font-size: x-large;
}

#formLogin input[type=submit] {
    background-color: var(--crimson);
    padding: 20px;
    color: var(--white);
    width: 30vw;
    border: none;
    font-size: x-large;
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    border-radius: 20px;
}
/* ----------- ! ADMINISTRATION ! ----------- */
#administration>div {
    margin-left: 15px;
}

#administration>h1 {
    margin-left: 5px ;
}

#administration>h2 {
    margin-left: 10px ;
}

#administration>hr {
    height: 1px;
    background-color: black;
}

/* ----------- ! ADMINISTRATION ! ----------- */
#switch_vue{
    text-decoration: none;
    color: var(--black);
    margin-left: 950px;
    font-weight: bold;
    font-size: 30px;
}






/*    .crimson_cb    */
/*
styliser une cb:
source: http://blog.bruyere-freelance.fr/styliser-checkbox-css-proprement/
*/
.crimson_cb {
    /*Suppressiobn de l'apparence de base*/
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    border-radius: 4px;
    height: 20px;
    width: 20px;
    background: var(--dark);
    border: 1px solid var(--dgray);
}
.crimson_cb:checked {
    margin:0px;
    position: relative;
    &:before {
        content: '✓';
        display: block;
        color: var(--crimson);
        font-size: 18px;
        position: absolute;
        font-weight: bold;
        top: -3px;
        left: 3px;
    }
}


/*    .podium    */
.podium {
    
    width: 50vw;
    background-color: var(--lgray);
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    height: 30px;
    border: 1px solid var(--black);
}

.podium p {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    margin: 20px;
    padding-left: 50px;
}
.podium span {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    margin: 20px;
    padding-right: 50px;
}

#top_1 { background: var(--bg-t1); }
#top_2 { background: var(--bg-t2); }
#top_2 span { color: var(--white);}
#top_3 { background: var(--bg-t3); }

.podium_titre {
    width: 100vw;
    text-align: center;
}